{% extends 'base.html' %}

{% block content %}
<h1>About The School</h1>
<p>This school was created by Ilia Filippov, who is a student at the Faculty of Economics and Engineering Management in Novi Sad, as part of the assignment for the <b>Software Design</b> course.</p>
<p>The studying material is split into multiple topics.</p>
<p>Topics can be chosen from the top-right dropdown element called <b>Topics</b>.</p>
<p>If you can, try to learn the topics in the same order that they are displayed in the dropdown element.</p>
<p>When a topic is selected, its explanation is listed on a web page along with an online Python editor and some tasks.</p>
<p>The online Python editor can be run on the website so there is no need to install Python when solving simple tasks. Once you move to more advanced topics, it is highly advisible to install Python and a code editor (like <b>Visual Studio Code</b>) on your local machine.</p>
<p><b>Happy coding!</b></p>
{% endblock %}